@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar for WebKit browsers (Chrome, Safari) */
/* Custom scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s;
    /* Smooth transition */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(6 182 212);
    /* Cyan-500 */
    border-radius: 10px;
    /* Rounded corners */
}

/* Show scrollbar when hovering over the scrollable container */
.scrollable-container:hover ::-webkit-scrollbar {
    opacity: 1;
    /* Show scrollbar on hover */
}

/* For Firefox */
.scrollable-container {
    scrollbar-width: thin;
    /* Thin scrollbar */
    scrollbar-color: transparent transparent;
    /* Initially transparent */
}

.scrollable-container:hover {
    scrollbar-color: rgb(6 182 212) transparent;
    /* Show scrollbar on hover */
}